<%= form_for [@api, @json] do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name  %>
  <%= f.label :content %>
  <%= f.text_area :content, placeholder: '{"message":"Enter your text as a valid JSON"}'  %>
  <%= f.submit class: 'btn btn-primary'%>
</div>
<% end %>
