
  <div class="row">
    <div class="col-md-4 footer">Your APIs</div>
    <div class="col-md-4 footer"> JSONS in <%=@api.name %></div>
    <div class="col-md-4 footer"> <%= @json.name %> </div>

    <% if user_signed_in? %>

    <div class="col-md-12" id="dashboard">
      <%= render partial: "welcome/dashboard" %>

    <div class="col-md-4 dash-column" id="json-list">
      <%= render partial: "apis/jsons-list" %>
    </div>

    <div class="col-md-4 dash-column" id="json-view">
      <% if @api.jsons.any? %>

        <p>API url: https://spy-api.herokuapp.com/apis?api-key=<%=@api.key%>&json=<%=@json.name%></p>
        <br>
          name: <%= @json.name %>
          <%= link_to 'Delete JSON', api_json_path(@api,@json), method: :delete %>
          content: <%= @json.content %>
      <% end %>
    </div>

  <div class="col-md-4 footer"><div id='api-list' class='dash-button'> <%= link_to 'add API', new_api_path %> </div></div>
    <div class="col-md-4 footer">
      <div id='json-list' class='dash-button'>
      <%= link_to 'Add JSON', new_api_json_path(@api) %>
    </div>
  </div>
    <div class="col-md-4 footer">
      <div id='json-view' class='dash-button'>
      <%= link_to 'Edit JSON', edit_api_json_path(@api, @json) %>
    </div>
  </div>
</div>
<% end %>

</div>
