      <div class="api">
        <div class="api-name"> name: <%= @api.name %> </div>
        <div class="api-key"> key: <%= @api.key %> </div>
      </div>
      <% if @api.jsons.any? %>
        JSONs attached to this API:<br>
        <% @api.jsons.each do |json| %>
          <div class='json-name'>
            <%= link_to json.name, api_json_path(@api,json) %>
          </div>

        <% end %>
        <% else %>
        No JSONs yet
      <% end %>
      <br>
      <%= link_to 'Edit API', edit_api_path(@api) %>
      <%= link_to 'Delete API', api_path(@api), method: :delete %>
      <%= link_to 'Add JSON', new_api_json_path(@api) %>
