
  <div class="row">
    <div class="col-md-4 header" id='api-list'>Your APIs</div>
    <div class="col-md-8 header" id='json-list'> Create new API</div>

    <% if user_signed_in? %>

    <div class="col-md-12" id="dashboard">
      <%= render partial: "welcome/dashboard" %>

    <div class="col-md-8 dash-column" id="json-list">
      <%= form_for @api, html: {multipart: true} do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'MyAPI' %>
        <%= f.submit class: 'btn btn-primary'%>
        <% end %>
      </div>
    </div>

</div>
<% end %>
  <div class="col-md-4 footer">
    <div id='api-list' class='dash-button'>
      <%= link_to 'add API', new_api_path %>
    </div>
  </div>
    <div class="col-md-8 footer">
      <div id='json-list' class='dash-button'>
    </div>
  </div>

</div>
